
.logo{
    position: absolute;
    cursor: pointer;
    font-family: "Newsreader", serif;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    overflow: visible;
    margin: 1rem;
    opacity: 1;
}

.logo .long {
    position: absolute;
    pointer-events: none;
    display: flex;
    top: 0;
    left: 0;
    opacity: 0;
    width: 1rem;
    transition-delay: 0.5s;
    transition: opacity 0.5s ease;
    white-space: nowrap;
}

.logo .short {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.2s ease;
    transition-delay: 0.2s;
}

.logo:hover .short {
    transition-delay: 0.5s;
    opacity: 0;

}

.logo:hover .long {
    transition-delay: 0.5s;
    opacity: 1;

}
