*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Newsreader", serif;
}

/* font drop
font-family: "Inconsolata", monospace;
font-family: "Newsreader", serif;
*/



html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* disables scrolling */
  background: black;
}

a {
    text-decoration: none;
    color: #fff;
}

h1{
    font-family: "Inconsolata", monospace;
}

li{
    font-weight: lighter;
}

.pageWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    border-radius: 1.2rem;
    border: 5px solid #000;
    overflow: hidden;
    background: #111;
}


.bodyWrapper{
    display: inline;
}
.headerNav{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    font-family: "Newsreader", serif;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    z-index: 999;
}

.headerMenu {
    position: absolute;
    right: 0;
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-right: 1rem;
    padding: 0;
    font-size: 1.5rem;
}

.menuList-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    overflow: auto;
    padding: 60px 0;
    position: absolute;
    margin: 1rem;
    margin-top: 5rem;

}

.item{
    color: #fff;
    font-variant: normal;
    font-size: 2rem;
    margin-bottom: 0.5rem; 
}


